[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
flake8 = "*"
pylint = "*"
black = "==19.10b0"
gitchangelog = "*"
pytest = "*"
pytest-cov = "*"
coverage-badge = "*"

[packages]
pillow = "*"
tima-mindef = {editable = true,path = "."}
loguru = "*"
numpy = "*"
