[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
flake8 = "*"
pylint = "*"
black = "==19.10b0"
gitchangelog = "*"
pytest = "*"
pytest-cov = "*"
mock = "*"
tima-mindif = { editable = true, path = "." }

[packages]
pillow = "*"
loguru = "*"
numpy = "*"
